Flask
Flask-SQLAlchemy
Flask-JWT-Extended    # For Token-based Authentication
flask_restful
SQLAlchemy
werkzeug              # For password hashing
redis                 # For caching and Celery broker
celery
python-dotenv
requests              # For sending reminders (Google Chat Webhook, etc.)
Jinja2                # For Monthly Report HTML/PDF generation
flask_security 
argon2_cffi
PyJWT                 # For Python Token
faker
faker-food
flask-cors
flask-mail
weasyprint            # For PDF generation from HTML
eventlet               # For asynchronous task handling with Celery
